<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songzm.rediscache.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.songzm.rediscache.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="login_address" jdbcType="VARCHAR" property="loginAddress" />
    <result column="grade_id" jdbcType="BIGINT" property="gradeId" />
  </resultMap>



  <select id="selectByPrimaryKey1" resultType="com.songzm.rediscache.entity.User">

    select * from user where id = #{id}
  </select>

  <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="com.songzm.rediscache.entity.User">

    insert user (name,password,login_address,grade_id) values (#{name},#{password},#{loginAddress},#{gradeId})
  </insert>
</mapper>